{{ define "main" }}
<div class="container home-posts">
    <div class="row">
        <div class="
            col-lg-8 col-lg-offset-1
            col-md-8 col-md-offset-1
            col-sm-12
            col-xs-12
            post-container
        ">
            {{ partial "page-intro.html" . }}

            <div class="page-body">
                <div class="page-prose">

                {{ if eq (.Param "multilingual") true }}
                    {{ partial "multilingual-sel.html" . }}
                    <div class="zh post-container">
                        {{$file :=  "/about/index-zh.md"}}
                        {{ $file | readFile | markdownify}}
                    </div>
                    <div class="en post-container">
                        {{ .Content }}
                    </div>
                {{ else }}
                    {{ .Content }}
                {{ end }}
                </div>
            </div>
        </div>
        {{ partial "sidebar.html" . }}
    </div>
</div>
{{ end }}
