{{ define "main" }}
{{ $pages := (where (where .Site.Pages "Type" "posts") "IsPage" true) }}

<div data-pagefind-ignore="all" class="container home-posts">
    <div class="row">
   	    <div class="
            col-lg-8 col-lg-offset-1
            col-md-8 col-md-offset-1
            col-sm-12
            col-xs-12
            post-container
        ">
            {{ partial "page-intro.html" . }}
            <div class="page-body">
                <header class="page-head">
                    <span class="page-head__kicker">Archive</span>
                    <p class="page-head__sub">All posts · {{ len $pages }} entries</p>
                </header>
                <div class="archive-list">
                {{ range ($pages.GroupByDate "2006") }}
                    {{ if gt .Key 1 }}
                    <section class="archive-card">
                        <h2 class="archive-year">{{ .Key }}</h2>
                        <ul>
                        {{ range .Pages }}
                            <li>
                                <a class="archive-row" href="{{ .RelPermalink }}">
                                    <span class="archive-date">{{ .Date.Format "Jan 02" }}</span>
                                    <span class="archive-title">{{ .Title }}</span>
                                </a>
                            </li>
                        {{ end }}
                        </ul>
                    </section>
                    {{ end }}
                {{ end }}
                </div>
            </div>
       	</div>
        {{ partial "sidebar.html" . }}
	</div>
</div>
{{ end }}
