{{ define "main" }}
<div data-pagefind-ignore="all" class="container home-posts">
    <div class="row">
        <div class="
            col-lg-8 col-lg-offset-1
            col-md-8 col-md-offset-1
            col-sm-12
            col-xs-12
            post-container
        ">
            {{ partial "page-intro.html" . }}
            <div class="page-body">
                <header class="page-head">
                    <span class="page-head__kicker">Tag</span>
                    <p class="page-head__sub">{{ .Title }} · {{ len .Data.Pages }} {{ if eq (len .Data.Pages) 1 }}post{{ else }}posts{{ end }}</p>
                </header>
                {{ $paginator := .Paginate (where .Data.Pages "Type" "posts") }}
                {{ partial "post_list.html" . }}
            </div>
        </div>
        {{ partial "sidebar.html" . }}
    </div>
</div>
{{ end }}
